@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@charset "UTF-8";

body {
	background-color: rgb(255,255,136);
	margin-left: 0 auto;

@include filter-gradient(#ffff88, #ffff88, vertical);
@include background-image(linear-gradient(top,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%));

}

.box {
	border: 2px solid black;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	float: left;
	padding: 5px;
	margin: 2px;
	background-color: white;
	background-size: cover;
	box-shadow: 20px;
}

.player-x {
	background-image: url("Bertramgriffin.png");
}

.player-o {
	background-image: url("stewie.gif");
}

.container {
	width: 375px;
	height: 500px;
	text-align: center;	
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-family: 'Poiret One', cursive;
	margin: 30px;
}

h2 {
	text-align: center;
}

.button {
	padding: 5px;
	margin-top: 5px;
}

.score {
	height: 20px;
	width: 150px;
	padding-bottom: 100px;
}













